  <widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.effit.app" version="2.0.0">
  <name>EFFIT</name>
  <description>Con EFFIT, olvida el dinero en tus eventos. Paga todo con tu celular.</description>
  <author href="http://www.effitapp.com" email="effit@effitapp.com">EFFIT</author>
  <content src="index.html"/>
  <preference name="phonegap-version" value="cli-6.0.0" />
  <preference name="permissions" value="none"/>
  <preference name="orientation" value="portrait"/>
  <preference name="target-device" value="handset"/>
  <preference name="fullscreen" value="false"/>
  <preference name="android-windowSoftInputMode" value="stateHidden|adjustResize" />
  <preference name="webviewbounce" value="false"/>
  <preference name="prerendered-icon" value="true"/>
  <preference name="stay-in-webview" value="false"/>
  <preference name="UIWebViewBounce" value="false" />
  <preference name="ios-statusbarstyle" value="default"/>
  <preference name="StatusBarStyle" value="lightcontent" />
  <preference name="DisallowOverscroll" value="true" />
  <preference name="detect-data-types" value="true"/>
  <preference name="exit-on-suspend" value="false"/>
  <preference name="SplashScreen" value="none"/>
  <preference name="disable-cursor" value="false"/>
  <preference name="android-minSdkVersion" value="15"/>
  <preference name="android-installLocation" value="auto"/>
  <preference name="android-build-tool" value="gradle" />
  <preference name="KeyboardShrinksView" value="false" />
  <preference name="AutoHideSplashScreen" value="false" />
  <preference name="EnableViewportScale" value="true"/>
  <plugin name="cordova-plugin-camera">
    <variable name="CAMERA_USAGE_DESCRIPTION" value="EFFIT quiere ocupar tu camara" />
    <variable name="PHOTOLIBRARY_USAGE_DESCRIPTION" value="EFFIT quiere acceder a tus fotos" />
  </plugin>
  <plugin name="cordova-plugin-media-capture"/>
  <plugin name="cordova-plugin-console"/>
  <plugin name="cordova-plugin-contacts"/>
  <plugin name="cordova-plugin-device"/>
  <plugin name="cordova-plugin-device-motion"/>
  <plugin name="cordova-plugin-device-orientation"/>
  <plugin name="cordova-plugin-dialogs"/>
  <plugin name="cordova-plugin-file"/>
  <plugin name="cordova-plugin-file-transfer"/>
  <plugin name="cordova-plugin-statusbar"  />
  <plugin name="cordova-plugin-geolocation"/>
  <plugin name="cordova-plugin-globalization"/>
  <plugin name="cordova-plugin-inappbrowser"/>
  <plugin name="cordova-plugin-media"/>
  <plugin spec="https://github.com/macdonst/TelephoneNumberPlugin.git" source="git" />
  <plugin spec="https://github.com/EddyVerbruggen/Flashlight-PhoneGap-Plugin.git" source="git" />
  <plugin name="phonegap-plugin-push" spec="1.5.3">
      <param name="SENDER_ID" value="661780372179" />
  </plugin>
  <plugin name="phonegap-plugin-barcodescanner" />
  <plugin name="cordova-plugin-whitelist" source="npm" />
  <plugin name="cordova-plugin-app-version" />

  <plugin name="cordova-plugin-facebook">
    <param name="FACEBOOK_APP_ID" value="228801530792772" />
    <param name="APP_ID" value="228801530792772" />
    <param name="FACEBOOK_DISPLAY_NAME" value="EFFIT" />
    <param name="APP_NAME" value="EFFIT" />
  </plugin>

  <!-- ICONOS -->
  <icon src="img/logo.png" />
  <icon src="res/icon/ios/icon-57.png"            platform="ios"        width="57" height="57" />
  <icon src="res/icon/ios/icon-72.png"            platform="ios"        width="72" height="72" />
  <icon src="res/icon/ios/icon-57-2x.png"         platform="ios"        width="114" height="114" />
  <icon src="res/icon/ios/icon-72-2x.png"         platform="ios"        width="144" height="144" />
  <icon src="res/icon/ios/icon-120.png"         platform="ios"        width="120" height="120" />
  <icon src="res/icon/ios/icon-76.png"         platform="ios"        width="76" height="76" />
  <icon src="res/icon/ios/icon-152.png"         platform="ios"        width="152" height="152" />
<!--
  <icon src="ldpi.png"                            platform="android"        qualifier="ldpi" />
  <icon src="mdpi.png"                            platform="android"        qualifier="mdpi" />
  <icon src="hdpi.png"                            platform="android"        qualifier="hdpi" />
  <icon src="xhdpi.png"                           platform="android"        qualifier="xhdpi" />
  <icon src="xxhdpi.png"                          platform="android"        qualifier="xxhdpi" />
  <icon src="fr-xxhdpi.png"                       platform="android"        qualifier="fr-xxhdpi" />
-->
  
  <!-- SPLASH SCREEN -->
  <splash src="res/screen/ios/screen-iphone-portrait.png"         platform="ios"      width="320" height="480" />
  <splash src="res/screen/ios/screen-iphone-portrait-2x.png"      platform="ios"      width="640" height="960" />
  <splash src="res/screen/ios/screen-iphone-portrait-568h-2x.png" platform="ios"      width="640" height="1136" />
  <splash src="res/screen/ios/screen-ipad-landscape.png"      platform="ios"      width="1024" height="768"/>
  
  
  <splash src="ldpi.png" platform="android" qualifier="ldpi" />
  <splash src="mdpi.png" platform="android" qualifier="mdpi" />
  <splash src="hdpi.png" platform="android" qualifier="hdpi" />
  <splash src="xhdpi.png" platform="android" qualifier="xhdpi" />
  
  <!--
  <splash src="fr-xhdpi.png" platform="android" qualifier="fr-xhdpi" />
  <splash src="portrait-xxhdpi.png" platform="android" qualifier="port-xxhdpi" />
  <splash src="landscape-xxhdpi.png" platform="android" qualifier="land-xxhdpi" />
  -->
  
  <!-- REGLAS --> 
  <access origin="*"/>
  <!--
  <plugin name="cordova-plugin-whitelist" version="1"/>
  -->
  <allow-intent href="http://*/*"/>
  <allow-intent href="https://*/*"/>
  <allow-intent href="tel:*"/>
  <allow-intent href="sms:*"/>
  <allow-intent href="mailto:*"/>
  <allow-intent href="geo:*"/>


  <platform name="android">
    <allow-intent href="market:*"/>
    <preference name="android-minSdkVersion" value="15"/>
  </platform>
  <platform name="ios">
    <allow-intent href="itms:*"/>
    <allow-intent href="itms-apps:*"/>
  </platform>

  

  <feature name="Notification">
    <param name="android-package" value="cordova-plugin-dialogs.Notification" />
  </feature>
  <feature name="Notification">
    <param name="ios-package" value="CDVNotification" />
  </feature>
  
  

  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true" />
  </feature>

<config-file platform="ios" parent="LSApplicationQueriesSchemes" overwrite="true">
    <array>
        <string>fbapi</string>
        <string>fbapi20130214</string>
        <string>fbapi20130410</string>
        <string>fbapi20130702</string>
        <string>fbapi20131010</string>
        <string>fbapi20131219</string>
        <string>fbapi20140410</string>
        <string>fbapi20140116</string>
        <string>fbapi20150313</string>
        <string>fbapi20150629</string>
        <string>fbauth</string>
        <string>fbauth2</string>
        <string>fb-messenger-api20140430</string>
    </array>
</config-file>
    <platform name="ios">
        <config-file target="*-Info.plist" parent="CFBundleDevelopmentRegion">
            <array>
                <string>es</string>
            </array>
        </config-file>
        <config-file target="*-Info.plist" parent="CFBundleLocalizations">
            <array>
                <string>Spanish</string>
            </array>
        </config-file>
    </platform>
  <platform name="ios">
    <config-file target="*-Info.plist">
      <array>
        <dict>
          <key>FacebookAppID</key>
          <string>fb228801530792772</string>
        </dict>
      </array>
      <key>CFBundleURLTypes</key>
      <array>
        <dict>
          <key>CFBundleURLSchemes</key>
          <array>
            <string>fb228801530792772</string>
          </array>
        </dict>
      </array>
      <key>FacebookAppID</key>
      <string>228801530792772</string>
      <key>FacebookDisplayName</key>
      <string>EFFIT</string>
      <key>NSAppTransportSecurity</key>
      <dict>
        <key>NSExceptionDomains</key>
        <dict>
          <key>facebook.com</key>
          <dict>
            <key>NSIncludesSubdomains</key> <true/>        
            <key>NSThirdPartyExceptionRequiresForwardSecrecy</key> <false/>
          </dict>
          <key>fbcdn.net</key>
          <dict>
            <key>NSIncludesSubdomains</key> <true/>
            <key>NSThirdPartyExceptionRequiresForwardSecrecy</key>  <false/>
          </dict>
          <key>akamaihd.net</key>
          <dict>
            <key>NSIncludesSubdomains</key> <true/>
            <key>NSThirdPartyExceptionRequiresForwardSecrecy</key> <false/>
          </dict>
        </dict>
      </dict>
    </config-file>
  </platform> 

  <plugin name="cordova-plugin-network-information"/>
  <!-- for iOS -->
  <feature name="Flashlight">
    <param name="ios-package" value="Flashlight" />
  </feature>
  <feature name="Camera">
      <param name="ios-package" value="CDVCamera" />
  </feature>
  <plugin name="cordova-plugin-vibration"/>
  <!-- for Android -->
  <feature name="Flashlight">
    <param name="android-package" value="nl.xservices.plugins.Flashlight" />
  </feature>
  <feature name="Camera">
      <param name="android-package" value="cordova-plugin-CameraLauncher" />
  </feature>
  <!--
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.CAMERA"/>
  -->
  <plugin name="cordova-plugin-splashscreen"/>
</widget>